body {
    background-color: #d5dee2;
    padding: 10rem 0;
}

/* #htu-cInput {
    position: relative;
}

#htu-newItemBtn {
    position: absolute;
} */

#htu-newItemBtn i {
    font-size: 110%;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

#newItemAlert {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.checkedItem {
    background-color: gray;
}

.checkedItem .itemContent {
    text-decoration: line-through;
}